
body {
    min-height: 100%;
    /*   background-color: #F5FEEF;
       background-color: black; */
    position: relative;
    background-color: black;
}

/*
.row {
    background-color: #F5FEEF;
    border: 5px solid green;
    border-style: inset;
    padding: 5px;
}


.mainrow {
    padding: 5px;
} */

.maincontainer {
    background-color: #F5FEEF;
    background-color: black;
    padding: 5px;
}

p, H2, H3 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}

.h1 {
    color: #F5FEEF;
}

/*samme bredde på alle tekstfelt*/
.col {
    /*    min-width: 75%;
        width: auto;*/
}

.fa-bars {
    color: white;
}

.rowspecial {
    /*  background-color: lightcyan; */
}
/* rowspecial er nå bare de ubrukte radene i index

.navbar-toggler{
 background-color: black;
 border-color: white;
 color: white;
}


.container {
/*    background-color: #e5c7ca;
}
*/
/* bakgrunn kommer ikke opp?*/
#footerContainer {
    background-color: black;
    border-top: lightgreen 3px solid;
    bottom: 0;
    margin-top: auto;
    color: white;

    /*   background-color: #F5FEEF; */
}

/* ytterste container for feltene men også tekstfelt*/
.container-fluid {
    background-color: #e6fed6;
    background-color: #c3a4cb;
    background-color: #c49fd7;
    background-color: black;
    color: white;
    /*  background-color: grey;
      color: black;*/
}

.bg-image {
    background-image: url("jeremy-perkins-space.jpg");
    background-size: cover;
}

/* container rundt nav */
#navContainer {
    /*  background-color: lightskyblue;
      background-color: #F5FEEF; */
}

.nav-link {
    font-weight: bold;
}

nav.sticky {
    padding: 3px 1px;
    background: black;
    transition: 0.2s;
}

#pilNed {
    bottom: 0;
    position: absolute;
}

/* neon-lilla sidedeler*/
.sidedeler {
    border-top: #6610f2 2px solid;
    border-top-width: 3px;
}

/* rammer inn elementer (tekst og bilder) inspirert av https://codersblock.com/blog/creating-glow-effects-with-css/*/
.elementramme {
    box-shadow:
            0 0 6px 0px #fff,  /* inner white */
            0 0 10px 0px #f0f, /* middle magenta */
            0 0 14px 0px #0ff; /* outer cyan */
}


/* fag: i utdanning, åpner et tekstfelt: */

/* div rundt knappen */
.fagRow {
    text-align: center;
}

/*knappen som åpner feltet */
#seFag {
    background: rgba(255, 255, 255, 0);
    color: white;
    border: none;
}

#fagSeksjon {

}

#pil {
    border: solid #6610f2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #6610f2;
}

#hero {
    position: absolute;
    color: #fff;
    padding: 15rem 25rem;
    z-index: 0;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

/* skyggestyling av knappen, mer styling under, inspirert av https://codersblock.com/blog/creating-glow-effects-with-css/*/
#tilToppen {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow:
            inset 0 0 50px #fff,      /* inner white */
            inset 20px 0 80px #f0f,   /* inner left magenta short */
            inset -20px 0 80px #0ff,  /* inner right cyan short */
            inset 20px 0 300px #f0f,  /* inner left magenta broad */
            inset -20px 0 300px #0ff, /* inner right cyan broad */
            0 0 5px #6610f2,            /* outer white */
            -10px 0 80px #6610f2,        /* outer left magenta */
            10px 0 80px #6610f2;         /* outer right cyan */
}

/* styling av til toppen -knappen */
#tilToppen {
    opacity: 0; /* hide it */
    z-index: 99;
    outline: purple;
    cursor: pointer;
    background-image: url("greencloud.png");
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 2.6rem;
    right: 0.5rem;
    border-radius: 100%;
    width: 60px;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: -14rem;
    transition: margin-bottom 0.2s; */
    transition: opacity 0.5s, transform 0.5s;
}

#tilToppen.active {
    margin-bottom: 0;
    opacity: 1;
    transition: opacity 1s, transform 1s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.activeli{
    /* gjør noe kult her så man ser hvilken side man er på, active er elementet, activeli rundt/større
    prøv å lag et bakgrunnsbilde som er farget som man legger som bakgrunn bak knappen */
}


#hjemLi {
    background-image: url("bluecloud.png");
    background-size: 100% 100%;
}

#omMegLi {
    background-image: url("pinkcloud.png");
    background-size: 100% 100%;
}

#utdanningLi {
    background-image: url("orangecloud.png");
    background-size: 100% 100%;
}

#ErfaringLi {
    background-image: url("purplecloud.png");
    background-size: 100% 100%;
}
/* container rundt kaffekopp-animasjonen*/
.animasjonsContainer {
    display: flex;
    justify-content: center;

}
/*coffee cup animation */
.cupOfCoffee {
    transform: scale(0.6);
    overflow: visible;
}

#video {
    position: fixed;
    z-index: -1;
}

/*
#active{
    background-color: #F5FEEF;
    border-bottom-color: #F5FEEF;
}
*/

/* justering av collapsable nav for små+medium skjermer */
@media only screen and (max-width: 992px) {
    /* det aktive elementet i collapsed navbar*/
    #omMegLi #active {
    }

    .nav-link {
        text-align: center;
    }

    .navbar-collapse {
        padding-bottom: 10px;
    }
    .collapse.show {
        border-bottom: #6610f2 2px solid;
    }
    .navbar {
        background-color: black;
    }

    /*er i veien på smale skjermer så jeg vil at den skal sitte over footeren da*/
    #tilToppen {
        position: absolute;
        bottom: 8rem;
        right: 1.5rem;
    }

}
/*mobil */
@media only screen and (max-width: 767px) {

    #video {
        display: none;
    }

    .forsidecontainer {
        background: url("space_Moment.jpg");
        background-size: cover;
    }
}