
body {
    min-height: 100%;
    background-color: #F5FEEF;
    background-color: black;
}

.row {
    background-color: #F5FEEF;
    padding: 5px;
}

p, H2, H3 {
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    color: #F5FEEF;
}

.fa-bars {
    color: white;
}

.rowspecial {
    background-color: lightcyan;
}
/* rowspecial er nå bare de ubrukte radene i index*/

.navbar-toggler{
    background-color: black;
    border-color: white;
}

.container {
/*    background-color: #e5c7ca; */
}

.container-fluid {
    background-color: #e6fed6;
}

.bg-image {
    background-image: url("jeremy-perkins-space.jpg");
    background-size: cover;
}

#footerContainer {
    background-color: #F5FEEF;
    border-top: #c2e2f6 3px solid;
    border-top: lightgreen 3px solid;
    bottom: 0;
    margin-top: auto;
}
/* bakgrunn her endret til svart, ment for forsiden men er på alle nå*/
#navContainer {
  /*  background-color: lightskyblue;
    background-color: #F5FEEF; */
    background-color: #000000;
}

.navbar {
    background-color: lightskyblue;
}
 /* hva gjør denne?*/
.nav-link {
    font-weight: bold;
}

.activeli{
    /* gjør noe kult her så man ser hvilken side man er på, active er elementet, activeli rundt/større
    prøv å lag et bakgrunnsbilde som er farget som man legger som bakgrunn bak knappen */
}

#hjemLi {
    background-image: url("bluecloud.png");
    background-size: 100% 100%;
}

#omMegLi {
    background-image: url("pinkcloud.png");
    background-size: 100% 100%;
}

#UtdanningLi {
    background-image: url("orangecloud.png");
    background-size: 100% 100%;
}

#ProsjekterLi {
    background-image: url("purplecloud.png");
    background-size: 100% 100%;
}


/*
#active{
    background-color: #F5FEEF;
    border-bottom-color: #F5FEEF;
}
*/

/* justering av collapsable nav for små+medium skjermer */
@media only screen and (max-width: 992px) {
    /* det aktive elementet i collapsed navbar*/
    #omMegLi #active {
    }

    .nav-link {
        text-align: center;
    }

    .navbar-collapse {
        padding-bottom: 10px;
    }
   .collapse.show {
       border-bottom: #c2e2f6 3px solid;
    }
}

/* navbaren som kommer på små skjermer
prøver å gjøre så det ikke er tabbing på mobilversjonen for det ser rart ut
men sliter med å få fjerna bakgrunnen på mobilmenyen. vil også
ha mobilmenyen større*/

.navbar-collapse {
/*    background-color: blue;
*/
--bs-nav-tabs-link-active-bg: blue;
}

/*.navbar-nav {
    color: white;
    --bs-navbar-color: white;
    --bs-navbar-active-color: black;
    --bs-navbar-hover-color: yellow;
    --bs-navbar-disabled-color: lightblue;
}

.activeli {
    border: 2px solid white;
    background-color: #e6fed6;
    padding-bottom: 0px;
}
*/
