
body {
    min-height: 100%;
    background-color: #F5FEEF;
}

p {
    font-family: sans-serif;
}

.rowspecial {
    background-color: lightcyan;
}
/* rowspecial er nå bare de ubrukte radene i index*/

.container {
/*    background-color: #e5c7ca; */
}

.container-fluid {
    background-color: #e6fed6;
}

#footerContainer {
    background-color: lightskyblue;
    border-top: #c2e2f6 3px solid;
}

#navContainer {
    background-color: lightskyblue;
}

.navbar {
    background-color: lightskyblue;
}
 /* hva gjør denne?*/
.nav-link {
    font-weight: bold;
}

#active{
    background-color: #F5FEEF;
    border-bottom-color: #F5FEEF;
}

/* justering av collapsable nav for små+medium skjermer */
@media only screen and (max-width: 992px) {
    #active {
        background-color: #B0DCF8;
        border-top: 4px solid #0c63e4;
        border-bottom: 4px solid #0c63e4;
        border-style: double;
    }

    .nav-link {
        text-align: center;
    }
}

/* navbaren som kommer på små skjermer
prøver å gjøre så det ikke er tabbing på mobilversjonen for det ser rart ut
men sliter med å få fjerna bakgrunnen på mobilmenyen. vil også
ha mobilmenyen større*/

.navbar-collapse {
/*    background-color: blue;
*/
--bs-nav-tabs-link-active-bg: blue;
}

/*.navbar-nav {
    color: white;
    --bs-navbar-color: white;
    --bs-navbar-active-color: black;
    --bs-navbar-hover-color: yellow;
    --bs-navbar-disabled-color: lightblue;
}

.activeli {
    border: 2px solid white;
    background-color: #e6fed6;
    padding-bottom: 0px;
}
*/
