/*main/generelt */
body {
    min-height: 100%;
    /*   background-color: #F5FEEF;
       background-color: black; */
    position: relative;
    background: black;
    margin: 10px;
    background: url("space_Moment.jpg");
    background-size: auto;
}

/*bruk bakgrunn når video skrus av*/
body.block {
    background: url("space_Moment.jpg");
    background-size: cover;
}

html {
    box-sizing: border-box;
}

.maincontainer {
    /*background-color: black; */
    background-color: rgba(255, 255, 255, 0);
    padding: 68px 5px 5px;
}

p, H2, H3 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}
/*seksjonsoverskrifter*/
h1 {
    color: #F5FEEF;
    text-align: center;
    padding: 1rem;
}

p {

}

/*samme bredde på alle tekstfelt*/
.col {
    /*    min-width: 75%;
        width: auto;*/
}

.fa-bars {
    color: white;
}

.fa-erf {
    padding: 20px;

}

/* neon-lilla sidedeler*/
.sidedeler {
    border-top: #6610f2 2px solid;
    border-top-width: 3px;
}

/* rammer inn elementer (tekst og bilder) inspirert av https://codersblock.com/blog/creating-glow-effects-with-css/*/
.elementramme {
    box-shadow:
            0 0 6px 0 #fff,  /* inner white */
            0 0 10px 0 #f0f, /* middle magenta */
            0 0 14px 0 #0ff; /* outer cyan */
}

/*prøver å fade border inn når man scroller ned*/
.elementramme:hover {
    box-shadow:
            0 0 6px 0 #fff,
            0 0 10px 0 #f0f,
            0 0 14px 0 #0ff;
}

/* ytterste container for feltene men også tekstfelt*/
.container-fluid {
    background-color: black;
    color: white;
}

/* navigasjon */

.navbar{
    top: 0;
    width: 100%;
}

.nav-link {
    font-weight: bold;
}

nav.sticky {
    padding: 3px 1px;
    background: black;
    -webkit-transition:  0.2s;
    -moz-transition: 0.2s;
    -o-transition:  0.2s;
    transition: 0.2s;
}

/* liste-elementene i navbar */

.activeli{
    /* gjør noe kult her så man ser hvilken side man er på, active er elementet, activeli rundt/større
    prøv å lag et bakgrunnsbilde som er farget som man legger som bakgrunn bak knappen */
}


#hjemLi {
    background-image: url("bluecloud.png");
    background-size: 100% 100%;
}

#omMegLi {
    background-image: url("pinkcloud.png");
    background-size: 100% 100%;
}

#utdanningLi {
    background-image: url("orangecloud.png");
    background-size: 100% 100%;
}

#ErfaringLi {
    background-image: url("purplecloud.png");
    background-size: 100% 100%;
}

/* forside */

/*toggle video på/av */

#toggle {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: green;
}

.togglebutton {
    position: absolute;
    border: 3px solid white;
    top: 70px;
    left: 30px;
    width:45px;
    height: 45px;
    background-color: black;
    border-radius: 40px;
    text-align: left;
    line-height: 30px;
}

.togglebutton:hover {
    border: 3px solid purple;
    box-shadow:
            0 0 6px 0 #fff,  /* inner white */
            0 0 10px 0 #f0f, /* middle magenta */
            0 0 14px 0 #0ff; /* outer cyan */
    background-color: black;
    color: white;
}

.togglebutton:focus {
    background-color: mediumpurple;
    color: white;
    animation-name: spin;
    animation-duration: 3s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#pil {
    border: solid #6610f2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #6610f2;
}

.forsidecontainer {
    justify-content: center;
    align-items: center;
    display: flex;
}

#video {
    position: fixed;
    z-index: -1;
}

.forsidecontainer.video:active {
    display: none;
    background: url("space_Moment.jpg");
    background-size: auto;

}


/*Styling av tekst på forsiden */
.hero {
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
}

.hero p {
    font-weight: bold;
    text-align: center;
}

.hero h1 {
    font-size: 20vw;
    color: rgb(194, 226, 246);
}

/* animert pil for å scrolle ned på forsiden
når man holder over pilen, hopper den */

/*div rundt pilen */
.arrowdiv {
    justify-content: center;
    align-items: center;
    display: flex;
}
.arrowDown {
    font-size: 52px;
    display: block;
    color: white;
    border-width: 0 3px 3px 0;
    align-self: center;
    padding: 3px;
}

.arrowDown:hover {
    animation: move 3s;

}

.arrowDown:active {
    color: purple;
    animation: ease-out 5s;

}

@keyframes move{
    0%{margin-top:0;}
    50%{margin-top: 1rem;}
    100%{margin-top: 0;}
}

@keyframes ease-out{
    0%{margin-top:0;}
    50%{bottom: 0;}
    100%{bottom: 0;}
}

/* container rundt kaffekopp-animasjonen under erfaring */
.animasjonsContainer {
    display: flex;
    justify-content: center;

}
/*coffee cup animation */
.cupOfCoffee {
    transform: scale(0.6);
    overflow: visible;
}

/* fag: i utdanning, åpner et tekstfelt: */

/*knappene som åpner/lukker feltet */
.fagBtn {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    background: black;
    color: white;
    border: 2px solid #6610f2;
    cursor: pointer;
    z-index: 1;
    width: 10em;
}

/* knapp nederst i fagoversikt som lukker den */
#lukkFag {
    width: 10em;
}

/* gjør ingenting */
.fagBtn:hover {
    box-shadow:
            0 0 6px 0 #fff,  /* inner white */
            0 0 10px 0 #f0f, /* middle magenta */
            0 0 14px 0 #0ff; /* outer cyan */
    border: 2px solid purple;
    background: black;
    color: white;

}


/* animert knapp for å scrolle til toppen
*/
/* skyggestyling av knappen, mer styling under, inspirert av https://codersblock.com/blog/creating-glow-effects-with-css/*/
#tilToppen {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow:
            inset 0 0 50px #fff,      /* inner white */
            inset 20px 0 80px #f0f,   /* inner left magenta short */
            inset -20px 0 80px #0ff,  /* inner right cyan short */
            inset 20px 0 300px #f0f,  /* inner left magenta broad */
            inset -20px 0 300px #0ff, /* inner right cyan broad */
            0 0 5px #6610f2,            /* outer white */
            -10px 0 80px #6610f2,        /* outer left magenta */
            10px 0 80px #6610f2;         /* outer right cyan */
}

/* styling av til toppen -knappen */
#tilToppen {
    opacity: 0; /* hide it */
    z-index: 99;
    outline: purple;
    cursor: pointer;
    background-image: url("greencloud.png");
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 2.6rem;
    right: 0.5rem;
    border-radius: 100%;
    width: 60px;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: -14rem;
    transition: margin-bottom 0.2s; */
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition:  opacity 0.5s, transform 0.5s;
    -moz-transition:  opacity 0.5s, transform 0.5s;
    -o-transition:  opacity 0.5s, transform 0.5s;
}

#tilToppen.active {
    margin-bottom: 0;
    opacity: 1;
    -webkit-transition:  opacity 1s, transform 1s;
    -moz-transition:  opacity 1s, transform 1s;
    -o-transition:  opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/*footeren */
#footerContainer {
    background-color: black;
    border-top: lightgreen 3px solid;
    bottom: 0;
    margin-top: auto;
    color: white;
}

.footercol {
    text-align: left;
}

/* justeringer for små+medium skjermer */

@media only screen and (max-width: 992px) {
    /* det aktive elementet i collapsed navbar*/
    #omMegLi #active {
    }

    .nav-link {
        text-align: center;
    }

    .navbar-collapse {
        padding-bottom: 10px;
    }
    .collapse.show {
        border-bottom: #6610f2 2px solid;
    }
    .navbar {
        background-color: black;
    }

/* toggle for mellomstore skjermer
    .togglebutton {
        display: none;
    }
*/
    .navbutton {
        font-size: 40px;
    }

    /*er i veien på smale skjermer så jeg vil at den skal sitte over footeren da*/
    #tilToppen {
        position: absolute;
        bottom: 8rem;
        right: 1.5rem;
    }

    .forsidecontainer .maincontainer body {
        background: url("space_Moment.jpg");
        background-size: cover;
    }

    .footercol {
        text-align: center;
    }

}
/*mobil */
@media only screen and (max-width: 767px) {

    #video {
        display: none;
    }

    .forsidecontainer, .maincontainer{
        background: url("space_Moment.jpg");
        background-size: cover;
    }

    body {
        background: url("space_Moment.jpg");
        background-size: auto;
    }

    .togglebutton {
        display: none;
    }
}